@model entityLayer.concrete.companyServices
@{
    ViewData["Title"] = "insertservices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Insert services</h1>

@using (Html.BeginForm("insertservices", "adminCompanyServices", FormMethod.Post))
{
    <div class="form-group">
        <label> Service Header </label>
        @Html.TextBoxFor(i=>i.companyServicesHeader, new {@class="form-control"})
    </div>
    <br />
    <div class="form-group">
        <label> Service Description </label>
        @Html.TextBoxFor(i=>i.companyServicesDescription, new {@class="form-control"})
    </div>
    <br />
    <div class="form-group">
        <label> Image Path </label>
        @Html.TextBoxFor(i=>i.ımagePath, new {@class="form-control"})
    </div>
    <br />
    @Html.HiddenFor(i=>i.companyServicesId)
    <button class="goSavePageButton">
        Save
    </button>
}
